*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

span{
  font-weight: bold;
  color: grey;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 32px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color:#fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.4s ease;
}
ul li a:hover{
	background-color: #fb2525;
	color:#fff;
}
div{
  text-align: center;
}
input[type="text"]
{
  text-align: center;
  border: none;
  border-bottom: 1px solid #fff;
  background: white;
  outline: none;
  height: 20px;
  color: black;
  font-size: 16px;
  border-color:red;
  border-top-color: red; 
}
.header{
	width:100%;
	height:80px;
	background-color:#000;
}

.logo img{
	float: left;
	width: 80px;
	height: auto;
}
.table{
	border: 0px solid grey;
	margin-right: auto;
	margin-left: auto;
  padding: 6px;
  vertical-align: center;
  text-align: center;
}
th{
  border: 3px solid red;
  margin-right: auto;
  margin-left: auto;
  padding: 6px;
  vertical-align: center;
  text-align: center;
}
td{
  border: 1px solid grey;
  vertical-align: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding: 6px;
}
.icon2{
	width: 15px;
}
.box h3{
	font-size: 25px;
}
.box3 h3{
  font-size: 25px;
}
input[type="submit"]
{
  border: none;
  outline: none;
  vertical-align: center;
  background: #fb2525;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
}

.box input[type="submit"]
{
  border: none;
  outline: none;
  vertical-align: center;
  background: #fb2525;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
}
.box input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.box3 input[type="submit"]
{
  border: none;
  outline: none;
  vertical-align: center;
  background: #fb2525;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
}
.box3 input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
input[type="submit"]:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.box2 input
{
  width: 30%;
  
}
.box input
{
  width: 70%;
  
}
.box select{
	margin-bottom: 20px;
	border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  border-color:red;
  border-top-color: red; 	
}
.box input[type="date"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-color:red;
  border-top-color: red; 
}
.box3 input
{
  width: 15%;
  
}

.box3 select{
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
  border-color:red;
  border-top-color: red;  
}
.box3 input[type="date"]
{
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  border-color:red;
  border-top-color: red; 
}
.button{
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 14px;
  border-radius: 10px;
  padding: 10px;
}
.button:hover
{
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.fa-couch{
  color: white;
}
.fa-couch:hover{
  color: green;
}
.a{
  color:green;
}
.b{
  color:red;
}